/* COLOR */
/* FONT */
/*25px*/
/*20px*/
/*18px*/
/*14px*/
/*12px*/
/*12px*/
@-webkit-keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}
@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}

@-webkit-keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}

.feed-card {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-shadow: 0 0 0 1px #ddd;
          box-shadow: 0 0 0 1px #ddd;
  color: #000;
  float: left;
  border-radius: 5px;
  overflow: hidden;
}

.feed-card .img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 190px;
}

.feed-card .contentsWrap {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  float: left;
}

.feed-card .contentsWrap .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.5em;
  font-size: .929em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
  margin: 0 0 8px;
  white-space: normal;
}

.feed-card .contentsWrap .url {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
  width: calc(100% - 80px);
  float: left;
}

.feed-card .contentsWrap .url a {
  font-size: .714em;
  color: rgba(0, 0, 0, 0.5);
}

.feed-card .contentsWrap .date {
  float: right;
  font-size: .714em;
  color: rgba(0, 0, 0, 0.5);
}

.feed-item {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 20px;
}

.feed-item .profile-image {
  float: left;
}

.feed-item .user-info, .feed-item .content {
  width: calc(100% - 50px);
  float: right;
}

.feed-item .user-info .user-name {
  float: left;
}

.feed-item .user-info .user-name button {
  font-weight: 600;
}

.feed-item .user-info .user-name span {
  margin-left: 10px;
}

.feed-item .user-info .date {
  float: right;
  font-size: 0.857em;
  font-weight: 600;
  color: #999;
}

.feed-item .content p {
  display: -webkit-box;
  word-wrap: break-word;
  line-height: 1.5em;
  margin: 5px 0 10px;
  white-space: normal;
  font-size: .929em;
}

.feed-item .content .btn--text {
  float: right;
}

.feed-item .feed-card {
  width: calc(100% - 50px);
  float: right;
}

.feed-item .btn-group {
  margin: 15px 0;
  width: calc(100% - 50px);
  float: right;
}

.feed-item .btn-group div {
  float: left;
  margin-right: 30px;
  color: #000;
  font-weight: 600;
  font-size: 0.857em;
}

.feed-item .btn-group div .icon {
  color: #3893A8;
  margin-right: 5px;
  font-weight: 600;
  width: auto;
  font-size: 15px;
}

.feed-item .btn-group div:last-child {
  margin-right: 0;
}

.feed-item .btn-group .likeScrap {
  position: relative;
  line-height: 20px;
  text-indent: 23px;
}

.feed-item .btn-group .likeScrap.active {
  color: #3893A8;
}

.feed-item .btn-group .likeScrap.active .icon.full {
  display: inline-block;
}

.feed-item .btn-group .likeScrap.active .icon.empty {
  display: none;
}

.feed-item .btn-group .likeScrap .icon {
  position: absolute;
  left: 0;
  top: 0;
}

.feed-item .btn-group .likeScrap .icon.full {
  display: none;
}

.feed-item .btn-group .likeScrap .icon.empty {
  display: inline-block;
}

.feed-item .comment-btn {
  width: calc(100% - 50px);
  float: right;
}

.feed-item .comment-btn button {
  color: #3893A8;
  font-weight: 600;
  font-size: 0.857em;
}

.scrab-feed-item {
  width: 100%;
  float: left;
  padding: 15px 0;
  border-bottom: 1px solid #CCCCCC;
  height: 100px;
  position: relative;
}

.scrab-feed-item .img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.scrab-feed-item .content {
  float: right;
  width: calc(100% - 120px);
  height: 100%;
  position: relative;
}

.scrab-feed-item .content h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-weight: 600;
  -webkit-transform: rotate(0.1deg);
          transform: rotate(0.1deg);
  color: #000;
}

.scrab-feed-item .content .url {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
  width: 100%;
  float: left;
  color: #707070;
  font-size: 0.857em;
}

.scrab-feed-item .content .bottom-wrap {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.scrab-feed-item .content .bottom-wrap .date {
  font-size: 0.857em;
  color: #707070;
}

.scrab-feed-item .content .bottom-wrap button {
  font-size: 0.857em;
  margin-left: 20px;
  float: right;
  font-weight: 600;
  -webkit-transform: rotate(0.1deg);
          transform: rotate(0.1deg);
}

.scrab-feed-item .content .bottom-wrap button:last-of-type {
  margin-left: 0;
}

.scrab-feed-item .content .bottom-wrap button.posting {
  color: #787878;
}

.scrab-feed-item .content .bottom-wrap button.posting.highlight {
  color: #3893A8;
}
/*# sourceMappingURL=feed-item.css.map */