@charset "utf-8";
@media(max-width:580px){
  .init-box{
    width: 100%;
    height: 100%;
  }
}

@media(min-width:580px){
  .init-box{
    height:770px;
  }
}

button {
  background-color: #DAEEDE;
  font-size: 20px;
  padding: 8px 14px;
  margin-top: 50px;
  border-radius: 7px;
  &:hover {
    animation-name: btnHover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
}

.init-box{
  margin: 0;
  padding: 30px 30px 0px 30px;
  box-sizing: border-box;
  width: 100%;
  .nickname-box, .profileimg-box, .surveyStart-box{
    .input-title{
      width: 100%;
      margin: 30px 0px 30px 0px;
      font-size: 17px;
      h1{
        text-align: end;
      }
    }
    .input-box{
      input{
        margin-top: 50px;
        width: 260px;
        height: 30px;
        font-size: 1.2rem;
        text-align: center;
        border: none;
        border-bottom: 1px solid grey;
      }
      p{
        margin: 15px;
        font-size: 0.7rem;
      }
    }
    .image-box{
      margin-top: 60px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      #header-img { 
        position: relative; 
        width: 6.5rem;
        // margin-bottom: 30px;
      } 
      #header-img:before { 
        content: ""; 
        display: block; 
        padding-top: 100%; 
      } 
      #header-img > div { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
      }
    }
    .btn-box2{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .btn-box1{
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}