@charset "utf-8";

button {
  background-color: #DAEEDE;
  font-size: larger;
  padding: 8px 14px;
  margin-top: 20px;
  border-radius: 7px;
}

.init-box{
  margin: 0;
  padding: 30px 30px 0px 30px;
  box-sizing: border-box;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .logo{
    display: inline-block;
    width: 100%;
    height: 170px;
    background-color: #DAEEDE;
  }
  .nickname-box, .profileimg-box, .surveyStart-box{
    .input-title{
      width: 100%;
      margin: 30px 0px 30px 0px;
      h1{
        text-align: end;
      }
    }
    .input-box{
      input{
        width: 230px;
        text-align: center;
      }
    }
    .image-box{
      margin-top: 65px;
      margin-bottom: 45px;
    }
    .btn-box2{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .btn-box1{
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}