@media(max-width:580px){
  .mydiary{
    width: 100%;
    height: 100%;
  }
  .myplaylist{
    width: 100%;
    height: 100%;
  }
}

@media(min-width:580px){
  .mydiary{
    height:700px;
  }
  .myplaylist{
    height:700px;
  }
}

.mydiary{
  background-color: #DAEEDE;
  overflow-y: hidden;
}
.myplaylist{
  background-color: #DAEEDE;
}
.mydiary-list{
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
}
.profile-header2{
  height: 8.5%;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  .back{
    margin-top: 0px;
  }
}
.profile-body{
  height: 91.5%;
  background-color: white;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  .title{
    height: 6.5%;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 13px;
  }
}

.mydiary-item{
  margin: 10px 10px 10px 10px;
  text-align: start;
  .item-box{
    box-shadow: 2px 2px 5px 2px #cce3d0;
    // border-radius: 10px;
    cursor: pointer;
    padding: 10px;
  }
  @media(hover: hover) {
    .item-box:hover{
      box-shadow: none;
    }
  }
  .item-date{
    margin-bottom: 10px;
    font-size: 16px;
  }
  .item-contents{
    font-size: 14px;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
  }
}