@media(max-width:580px){
  .diaryreport{
    width: 100%;
    height: 100%;
  }
  .emotionreport{
    width: 100%;
    height: 100%;
  }
}

@media(min-width:580px){
  .diaryreport{
    height:700px;
  }
  .emotionreport{
    height:700px;
  }
}

.diaryreport{
  background-color: #DAEEDE;
}
.emotionreport{
  background-color: #DAEEDE;
}
.profile-header2{
  height: 8.5%;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  .back{
    margin-top: 0px;
  }
}
.profile-body{
  height: 91.5%;
  background-color: white;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  .title{
    height: 6.5%;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 13px;
  }
}