@charset "utf-8";
@media(min-width:580px){
  .survey-box{
    height: 770px;
  }
}
@media(max-width:580px){
  .survey-box{
    width: 100%;
    height: 100%;
  }
}
.survey-box{
  position: relative;
  overflow: hidden;
  .title{
    padding-top: 20px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    h1 {
      font-size: 25px;
      display: flex;
      justify-content: flex-end;
      flex-direction: c;
    }
  }
  .music-list{
    height: 74%;
    overflow-y: scroll;
    overflow-x: hidden;
    @media(hover: hover) {
      #playerdiv:hover{
        background-color:#e9e9e9;
        button {
          background-color: #e9e9e9;
        }
      }
    }

    #playerdiv{
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 32px 30px;
      justify-content: space-between;
      border-bottom: 2px solid #e9e9e9;
      font-size: 1.2rem;
      font-weight: 400;
      button {
        margin: 0px;
        background-color: transparent;
        font-size: 12px;
      }
    }
  }
  .survey-footer{
    position: absolute;
    z-index: 10000;
    bottom:0;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    .prev{
      cursor: pointer;
      margin-left: 15px;
      font-size: 2.2rem;
    }
    .next{
      cursor: pointer;
      margin-right: 15px;
      font-size: 2.2rem;
    }
  }
}

.yes-choice {
  background-color: #DAEEDE;
}

.no-choice {
  background-color: white;
}
.player-item{
  position: relative;
.play-button{
  z-index: 5;
  position: absolute;
  right: 20px;
  z-index: 100;
  top: 27px;
  button{
    margin: 0px;
    font-size: 1rem;
    background-color:transparent;
  }
}
}

.survey-init{
  img{
  width: 100%;
  }
}