@charset "utf-8";

@media(max-width:580px){
  .profile{
    height: 100%;
    width: 100%;
  }
}

@media(max-width:580px){
  .myinfo{
    width: 100%;
    height: 100%;
  }
  .myinfo-update{
    width: 100%;
    height: 100%;
  }
}

@media(min-width:580px){
  .myinfo{
    height:700px;
  }
  .myinfo-update{
    height: 700px;
  }
}

.profile{
  background-color: #DAEEDE;
  .profile-header2{
    height: 17%;
    display: flex;
    justify-content: space-between;
    .back{
      display: flex;
      margin: 5px 0px 73px 0px;
    }
    .userinfo{
      display: flex;
      align-items: center;
      font-size: 20px;
      h2{
        margin-left: 1rem;
        margin-top : 1rem;
      }
      #header-img { 
        position: relative; 
        width: 65px;
        margin-left: 0.5rem;
      } 
      #header-img:before { 
        content: ""; 
        display: block; 
        padding-top: 100%; 
      } 
      #header-img > div { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
      }
    }
    .logout {
      display: flex;
      align-items: flex-end;
      font-size: 1.2em;
      cursor: pointer;
      margin: 0px 20px 5px 0px;
    }
  }
  .profile-contents{
    height: 83%;
    background-color: white;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    padding-top: 10px;
    .task{
      padding: 35px 35px 20px 35px;
      text-align: start;
      border-bottom: 2px solid #dee2e6;
      h1{
        font-size: 1.5rem;
      }
      h2{
        margin: 10px 0 10px 0;
        span{
          cursor: pointer;
        }
      }
      svg{
        margin-right: 10px;
      }
    }
    .task2{
      padding: 35px;
      text-align: start;
      h2{
        margin: 10px 0 10px 0;
        span{
          cursor: pointer;
        }
      }
      svg{
        margin-right: 10px;
      }
    }
    .subtask{
      text-align: start;
    }
  }
}

.profile-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 1rem 0 0;
  #header-img { 
    position: relative; 
    width: 40px;
    margin-left: 0.5rem;
  } 
  #header-img:before { 
    content: ""; 
    display: block; 
    padding-top: 100%; 
  } 
  #header-img > div { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
}


.myinfo{
  background-color: #DAEEDE;
  width: 100%;
  position: relative;
  .profile-img{
    z-index: 1;
    position: absolute;
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 1.5rem;
      margin-left: 0.5rem;
      margin-top : 2rem;
      svg{
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }

  #header-img { 
    position: relative; 
    width: 65px;
    margin-left: 0.5rem;
    margin-right: 8px;
  } 
  #header-img:before { 
    content: ""; 
    display: block; 
    padding-top: 100%; 
  } 
  #header-img > div { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
  .myinfo-header{
    height: 8.5%;
    display: flex;
    justify-content: flex-start;
    .back{
      z-index: 2;
      margin-top: 0px;
    }
    .userinfo{
      display: flex;
      align-items: center;
      font-size: 20px;
      h2{
        margin-left: 1rem; 
        // margin-top: 20px;
      }
    }
  }
  .myinfo-contents{
    height: 91.5%;
    background-color: white;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    padding-top: 55px;
    .userinfo{
      text-align: start;
      .content{
        padding: 35px 50px 30px 50px;
        h1{
          font-size: 1.4rem;
        }
        h2{
          margin-top: 7px;
          font-size: 1.15rem;
        }
      }
      p {
        padding: 300px 50px 30px 50px;
        font-size: 1rem;
        color: grey;
      }
    }
  }
}

.myinfo-update{
  .back{
    background-color: white;
    margin-top: 5px;
    display: block;
  }
  .update-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    #header-img { 
      position: relative; 
      width: 100px;
      margin-bottom: 30px;
    } 
    #header-img:before { 
      content: ""; 
      display: block; 
      padding-top: 100%; 
    } 
    #header-img > div { 
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%;
    }
    input{
      border:none;
      border-bottom: 1px solid black;
      text-align: center;
      font-size: 20px;
    }
    .save{
      margin-top: 45px;
      font-size: 20px;
    }
  }
}