.error-text {
  color: red;
}

.createBtn {
  padding: 0.5rem 1rem; 
  margin: 0.5rem; 
  font-size: 1rem;
  font-weight: bold;
  &:hover {
    animation-name: btnHover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
}

@keyframes btnHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.my-sub-title {
  padding-left: 1.5rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}
.calendar-box {
  background-color: white;
  border-radius: 1.5rem;
  height: 600px;
  margin: 0 0.5rem;
  &:hover {
    animation-name: boxHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}
@keyframes boxHover {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  100%{
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
  }
}

.chart-box-one {
  background-color: white;
  border-radius: 1.5rem;
  height: 350px;
  margin: 0 0.5rem;
  &:hover {
    animation-name: boxHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}
.chart-box-two {
  background-color: white;
  border-radius: 1.5rem;
  height: 310px;
  margin: 0 0.5rem;
  &:hover {
    animation-name: boxHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

.container-box {
  padding-top: 1rem;
}
.ctr-box {
  padding: 0 1.1rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}
.ctr-box .btn-cal {
  position: relative;
  float: left;
  width: 1.7rem;
  margin-top: 0;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  background: none;
}
.ctr-box .btn-cal:after {
  content: '<';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.8rem;
  font-weight: bold;
  font-size: 1rem;
}
.ctr-box .btn-cal.next {
  float: right;
}
.ctr-box .btn-cal.next:after {
  content: '>';
}
.cal-table {
  width: 100%;
}
.cal-table th {
  width: 14.2857%;
  padding-bottom: 0.4rem;
  font-size: 0.8rem;
  font-weight: 900;
}
.cal-table td {
  padding: 0.3rem 0;
  height: 3rem;
  font-size: 0.8rem;
  vertical-align: middle;
}

td.day:hover {
  border-radius: 50%;
  background-color: #e9e9e9;
  animation-name: opercityTd;
  animation-duration: 1s;
}
.cal-table td.day {
  position: relative;
  cursor: pointer;
  
}
.cal-table td.today {
  background: #c9c9c9;
  border-radius: 50%;
  border-color: #c9c9c9;
}
.cal-table td.day-active {
  background: #DAEEDC;
  border-radius: 50%;
  border-color: #DAEEDC;
}
.cal-table td.has-event:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #FFC107;
}
@keyframes opercityTd {
  0% {
    opacity: 0.1;
  }
  100% {
    opercity: 1;
  }
}
.atom-parent {
  position: relative;
}
.atom {
  position: absolute;
  top: 4em;
  right: 2.35em;
  font-size: 10px;
}
.atom-positive {
  color: #83c9e7;
}
.atom-negative {
  color: #ff8585;
}
.atom-neutral {
  color: #81c147;
}
.centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opercityAnim {
  animation-name: test;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}